@import "tailwindcss";

a.active hr {
  display: block;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Outfit, serif;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .btn {
    @apply w-[10rem] min-w-[10rem] bg-black text-white font-medium text-base px-4 py-3 rounded cursor-pointer border-transparent;
  }
  .btn:active {
    @apply bg-white text-black border-1 border-black transition-all;
  }
  .btn-inverted {
    @apply bg-white text-black border-1 border-black;
  }
  .btn-inverted:active {
    @apply bg-black text-white border-1 border-white transition-all;
  }
}
